/* Body i container */
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(45deg, #0f172a, #0e0f21);
  color: #f1f5f9;
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* Karty */
.card {
  background: linear-gradient(45deg, #1e293b, #1d3254);
  padding: 25px;
  margin: 20px 0;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: translateY(-4px);
}

/* Wyśrodkowanie */
.center {
  text-align: center;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}
th,
td {
  padding: 12px;
  text-align: center;
}
tr {
  transition: all 0.3s ease;
}
tr:hover {
  background: #334155;
}
.leader {
  background: linear-gradient(90deg, #bd960b, #bd770d);
  font-weight: bold;
  color: black;
  border-radius: 12px;
}
.leader td:first-child {
  background: none; /* Medal pozostaje normalny */
  border-radius: 0;
}

/* Medale */
.medal {
  font-size: 18px;
}

/* Różnice punktów */
.positive {
  color: #22c55e;
  font-weight: bold;
}
.negative {
  color: #ef4444;
  font-weight: bold;
}

/* Animacje lidera */
@keyframes glow {
  0% {
    box-shadow: 0 0 0px gold;
  }
  50% {
    box-shadow: 0 0 25px gold;
  }
  100% {
    box-shadow: 0 0 0px gold;
  }
}

/* Inputy i przyciski */
input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin: 5px 0;
}
button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #72898f;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
button:hover {
  background: #51808f;
  transform: scale(1.05);
}

/* Panele oceniania */
.panel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}
.panel-row input {
  width: 60px;
  text-align: center;
}
.vote-row {
  margin: 12px 0;
  text-align: center;
}

.vote-row input {
  width: 100px;
  height: 45px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
}

.absence-btn {
  background: #7d4040;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
}

.absence-btn:hover {
  background: #662929;
}
