/* ============================= */
/* SKALA STRONY */

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(45deg, #0f172a, #0e0f21);
  color: #f1f5f9;
  margin: 0;
  font-size: 20px; /* większy tekst */
}

/* ============================= */
/* CONTAINER */

.container {
  max-width: 1600px;
  margin: auto;
  padding: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

/* ============================= */
/* KARTY */

.card {
  background: linear-gradient(45deg, #1e293b, #1d3254);
  padding: 40px;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

.center {
  text-align: center;
}

/* ============================= */
/* TABELA */

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 18px;
}

th {
  font-size: 28px;
  padding: 16px;
}

td {
  padding: 22px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  background: transparent;
}

/* wiersze */

tr {
  background: linear-gradient(45deg,#1e293b,#1d3254);
}

/* podium */

tr.gold {
  background: linear-gradient(90deg,#ffd700,#ffb700);
  color: black;
  animation: goldGlow 2.5s infinite;
}

tr.silver {
  background: linear-gradient(90deg,#e5e7eb,#9ca3af);
  color: black;
}

tr.bronze {
  background: linear-gradient(90deg,#cd7f32,#92400e);
  color: white;
}

@keyframes goldGlow {

  0% { box-shadow:0 0 12px rgba(255,215,0,0.5); }

  50% { box-shadow:0 0 40px rgba(255,215,0,1); }

  100% { box-shadow:0 0 12px rgba(255,215,0,0.5); }

}

/* ============================= */
/* ZMIANA PUNKTÓW */

.positive {
  color:#22c55e;
  font-weight:bold;
}

.negative {
  color:#ef4444;
  font-weight:bold;
}

/* ============================= */
/* INPUTY */

input {
  padding:14px;
  border-radius:12px;
  border:none;
  margin:8px 0;
  font-size:22px;
}

/* ============================= */
/* PRZYCISKI */

button {

  padding:16px 26px;
  border-radius:14px;
  border:none;
  background:#72898f;
  color:white;
  cursor:pointer;
  font-size:22px;
  font-weight:bold;
  transition:all .2s ease;
}

button:hover {

  background:#51808f;
  transform:scale(1.05);

}

/* ============================= */
/* PANELE OCENIANIA */

.vote-row-container {

  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:28px;
  margin-top:20px;
  margin-bottom:40px; /* dodatkowa przestrzeń */

}

/* pojedynczy gracz */

.vote-row {

  display:flex;
  flex-direction:column;
  align-items:center;
  gap:10px;
  font-size:24px;

}

.vote-row input {

  width:120px;
  height:60px;
  font-size:26px;
  text-align:center;
  border-radius:14px;

}

/* ============================= */
/* PRZYCISKI PANELU */

.panel-buttons {

  margin-top:80px; /* duża przestrzeń od pól ocen */
  display:flex;
  justify-content:center;
  gap:40px;

}

.navbar{

  position:sticky;
  top:0;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:18px 40px;

  background:#0f172a;
  border-bottom:1px solid #334155;

  font-size:26px;
  font-weight:bold;

  z-index:100;

}

.nav-right button{

  font-size:18px;
  padding:10px 20px;

}

.avatar{

  font-size:28px;
  margin-right:10px;

}
.avatar{

  width:38px;
  height:38px;

  display:inline-flex;
  align-items:center;
  justify-content:center;

  background:#1e293b;
  border-radius:10px;

  font-size:22px;

  margin-right:10px;

}



.nav-left{

  font-size:26px;
  font-weight:bold;

}

.nav-right{

  display:flex;
  gap:10px;
  align-items:center;

}

.nav-right input{

  width:130px;

}

#loginError{

color:#ef4444;
font-size:14px;

margin-top:6px;

}

.loading{

opacity:0.7;
pointer-events:none;

}

.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:18px 40px;

background:#0f172a;
border-bottom:1px solid #334155;

position:sticky;
top:0;

z-index:100;

}

.nav-center{

font-size:18px;
opacity:0.9;

}

#userBox{

display:flex;
align-items:center;
gap:12px;

font-size:18px;

}

#loginBox{

display:flex;
align-items:center;
gap:8px;

}

.absence-btn {

  background:#7d4040;
  font-size:22px;
  padding:16px 26px;

}

.absence-btn:hover {

  background:#662929;

}

#daysContainer{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;

}

.card h3{

margin-top:10px;

}

.card input{

margin-top:5px;

}

#daysContainer{

display:flex;
flex-direction:column;
gap:20px;

}

.meet-row{

display:flex;
align-items:center;
gap:10px;
margin-top:10px;

}

.sunsetBox{

display:flex;
align-items:center;
gap:5px;
font-size:14px;

}

.status-row{

margin-top:10px;
display:flex;
gap:10px;

}

.statusBtn{

padding:10px 20px;
border:none;
border-radius:8px;
background:#475569;
color:white;
cursor:pointer;

}

.statusBtn.active{

background:#22c55e;

}

.saveBtn{

margin-top:10px;
padding:10px 20px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
cursor:pointer;

}

.note{

font-size:14px;
opacity:0.8;
margin-left:10px;

}

.boiskoButtonBox{

text-align:center;
margin-bottom:20px;

}

.boiskoButton{

display:inline-block;
padding:20px 40px;

font-size:22px;
font-weight:bold;

border-radius:14px;

background:linear-gradient(45deg,#1e293b,#1d3254);

color:white;
text-decoration:none;

transition:0.2s;

}

.boiskoButton:hover{

transform:scale(1.05);

}

#boiskoCounter{

display:block;
font-size:16px;
margin-top:6px;
opacity:0.8;

}

.backButton{

display:inline-block;
margin-bottom:20px;

padding:10px 20px;

background:#334155;
color:white;

border-radius:10px;
text-decoration:none;

}

.backButton:hover{

background:#475569;

}

.avatar{

width:32px;
height:32px;

display:inline-flex;
align-items:center;
justify-content:center;

background:#1e293b;
border-radius:8px;

margin-right:8px;

font-size:18px;

}

#penaltyPlayer{
  width: 250px;   /* większa szerokość */
  font-size: 22px; /* większy tekst */
  padding: 8px 12px; 
  border-radius: 12px;
  margin-bottom: 8px;
}

.backButton {
  display:inline-block;
  margin-bottom:20px;
  padding:10px 20px;
  background:#334155;
  color:white;
  border-radius:10px;
  text-decoration:none;
}

.backButton:hover {
  background:#475569;
}

.divider {
  margin:0 10px;
  opacity:0.5;
}

.history-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  margin-top: 4px;
  background: #1f2937;
  border-radius: 8px;
  font-size: 14px;
}

.history-date {
  color: #9ca3af;
}

.history-name {
  color: #19195B;
}

.history-score {
  font-weight: bold;
  color: #19195b;
}

.sub-info {
  font-size: 13px;
  color: #9ca3af;
  margin-top: 3px;
}

.profile-history-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

.history-block {
  margin-top: 10px;
}

.history-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
  color: #9ca3af;
}

.ranking-header {
  margin-bottom: 15px;
}

.ranking-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  margin-top: 6px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

/* zielony gradient miejsc */
.ranking-row:nth-child(1) { background: #0d84b8; }
.ranking-row:nth-child(2) { background: #105370; }
.ranking-row:nth-child(3) { background: #0f4157; }
.ranking-row:nth-child(n+4) { background: #0d2d3b; }

.ranking-row:hover {
  transform: scale(1.02);
}

.rank {
  font-weight: bold;
  color: #bbf7d0;
}

.name {
  color: #dcfce7;
}

.points {
  color: #22c55e;
  font-weight: bold;
}

/* 🏆 Ranking miesięczny */
.ranking-header {
  text-align: center;
  margin-bottom: 20px;
}

#monthPicker {
  font-size: 30px;
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #f0f8ff;
}

/* 📦 lista */
#rankingList {
  margin-top: 20px;
}

/* 📊 pojedynczy wiersz */
.ranking-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 20px;
  margin-bottom: 10px;

  border-radius: 14px;
  background: linear-gradient(315deg, #90caf9, #bbdefb);

  font-size: 20px;
  font-weight: 500;

  transition: 0.2s;
  cursor: pointer;
}

.ranking-row:hover {
  transform: scale(1.02);
  background: linear-gradient(315deg, #0d2d3b, #07171f);
}

/* 🥇🥈🥉 */
.ranking-row:nth-child(1) {
  background: linear-gradient(315deg, #0d84b8, #0a668f);
  font-weight: bold;
}

.ranking-row:nth-child(2) {
  background: linear-gradient(315deg, #105370, #0a3345);
}

.ranking-row:nth-child(3) {
  background: linear-gradient(315deg, #0f4157, #08222e);
}

/* 🔢 miejsce */
.rank {
  font-size: 64px;
  font-weight: bold;
  width: 40px;
}

/* 👤 imię */
.name {
  flex: 1;
  text-align: center;
  margin-left: 10px;
  font-size: 50px;
}

/* ⭐ punkty */
.points {
  font-size: 50px;
  font-weight: bold;
}

/* ❌ brak danych */
#rankingList:empty::after {
  content: "Brak danych";
  display: block;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  opacity: 0.7;
}

/* 🔙 przycisk powrotu */
.backButton {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 12px;
  background: #90caf9;
  color: black;
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
}

.backButton {
  display: block;
  text-align: center;
  margin: 30px auto;

  padding: 18px 40px; /* większy */
  border-radius: 16px;

  background: #90caf9;
  color: black;
  text-decoration: none;

  font-size: 24px; /* było ~18 */
  font-weight: 600;

  width: fit-content;
}

.backButton:hover {
  background: #64b5f6;
  transform: scale(1.05);
}

/* 🏆 tytuł */
h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

/* 🏆 przycisk ranking */
.btn-ranking {
  display: flex;              /* 🔥 klucz */
  align-items: center;        /* pionowo */
  justify-content: center;    /* poziomo */

  padding: 14px 22px;
  border-radius: 14px;

  background: linear-gradient(135deg, #81d4fa, #4fc3f7);
  color: black;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;

  height: 60px; /* żeby było co centrować */
  min-width: 200px;

  transition: 0.2s;
}

.boiskoButtonBox {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

/* 📦 karta profilu */
#profileCard {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;

  background: #f5faff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  text-align: center;
}

/* 👤 avatar */
.profile-avatar-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;

  border-radius: 50%;
  background: #e3f2fd;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;
}

/* 🧑 nazwa */
.profile-name {
  font-size: 50px;
  margin-bottom: 20px;
}

/* 💰 punkty */
.profile-points {
  font-size: 26px;
  margin-bottom: 20px;
}

/* 📊 sekcje */
.profile-box {
  font-size: 22px;
  margin: 12px 0;
}

/* 📅 wyróżnienie */
.profile-highlight {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}

/* ➖ minusy */
.minus {
  color: red;
}

/* 🔙 przycisk powrotu */
.backButton {
  display: block;
  margin: 40px auto;

  padding: 18px 40px;
  font-size: 26px;

  background: #90caf9;
  border-radius: 16px;
  text-decoration: none;
  color: black;

  text-align: center;
  width: fit-content;
}

.backButton:hover {
  background: #64b5f6;
}

.extra-players-box {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.extra-players-box select {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
}

.extra-players-box {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.extra-players-box select {
  margin-left: 10px;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 8px;
}

.extra-info {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #1976d2;
}

#profileCard {
  background: linear-gradient(135deg, #2d3959, #0b111f);
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
}

/* teksty */
.profile-box,
.profile-points,
.profile-name,
.profile-highlight {
  color: white;
}

/* delikatne sekcje */
.profile-box {
  opacity: 0.9;
}

.profile-section-title {
  font-size: 24px;
  margin-top: 25px;
  font-weight: bold;
}

.votes-section {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.votes-column {
  width: 45%;
}

.votes-column h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.vote-item {
  background: rgba(255,255,255,0.1);
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
  font-size: 18px;
}

.vote-meta {
  font-size: 14px;
  color: #666;
  margin-top: 3px;
}

/* ranking miesięczny */
.ranking-container {
  color: white;
}

.ranking-container * {
  color: white;
}

.ranking-table {
  color: white;
}

.ranking-table td,
.ranking-table th {
  color: white;
}

.ranking-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.month-picker {
  text-align: center;
  margin-bottom: 20px;
}

#monthPicker {
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
}

#monthTitle {
  text-align: center;
  font-size: 26px;
  margin: 20px 0;
}

.backButton.big {
  display: inline-block;
  font-size: 22px;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.achievement-badge {
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #fff;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  text-align: center;
}

.achievement-badge.yellow { background-color: #FFD700; color: #000; }
.achievement-badge.purple { background-color: #9B30FF; }
.achievement-badge.blue { background-color: #1E90FF; }
.achievement-badge.green { background-color: #32CD32; }
.achievement-badge.gray { background-color: #808080; }

.rank-item {
  display: flex;
  align-items: center;
  background: #140a24;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 12px;
  font-size: 26px; /* 🔥 DUŻY TEKST */
}

.rank-position {
  width: 80px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.rank-points {
  width: 120px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.simple-ranking-btn {
  margin-left: 10px;
  padding: 6px 10px;
  background: #1e90ff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
}

.simple-ranking-btn:hover {
  background: #187bcd;
}

.ranking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-ranking-btn {
  background: #1a1028;
  color: white;
  padding: 14px 24px; /* 🔥 większy */
  border-radius: 14px;
  text-decoration: none;
  font-size: 22px; /* 🔥 większy tekst */
  font-weight: bold;
  transition: 0.2s;
}

.simple-ranking-btn:hover {
  background: #2a1740;
  transform: scale(1.05);
}

.simple-ranking-btn:hover {
  background: linear-gradient(130deg, #2a1740, #663399);
}

.rank-name {
  flex: 1;
  text-align: center;
  font-size: 30px;
}


.top1 {
  background: linear-gradient(90deg, #FFCC00, #FFCC99);
}

.top2 {
  background: linear-gradient(90deg, #999999, #CCCCCC);
}

.top3 {
  background: linear-gradient(90deg, #996633, #CC9966);
}

.rank-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.achievements-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background: #1a1028;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.achievements-btn:hover {
  background: #2a1740;
  transform: scale(1.05);
}

.gold {
  background: linear-gradient(90deg, #ffd700, #1c1c1c);
}

.silver {
  background: linear-gradient(90deg, #c0c0c0, #1c1c1c);
}

.bronze {
  background: linear-gradient(90deg, #cd7f32, #1c1c1c);
}
